Repository pleaseai/mcp-please: changes, and which Codecov flags are due for each by the changed paths.
All: @pleaseai/mcp-core, @pleaseai/mcp

fix: resolve TypeScript errors and CI test failures
  bun.lock
  package.json
  packages/core/tests/embedding-providers.test.ts
  packages/mcp/src/server.ts
  packages/mcp/tests/embedding-providers.test.ts
Due: @pleaseai/mcp

docs(readme): add project badges
  README.md
Due: none

feat(mcp): add tool execution and auto-indexing capabilities
  .mcp.json
  .please/.gitignore
  .please/mcp.json
  bun.lock
  packages/mcp/package.json
  packages/mcp/src/commands/mcp.ts
  packages/mcp/src/commands/serve.ts
  packages/mcp/src/server.ts
  packages/mcp/src/utils/mcp-client.ts
  packages/mcp/src/utils/mcp-config-loader.ts
  packages/mcp/src/utils/oauth/oauth-manager.ts
  packages/mcp/src/utils/oauth/token-storage.ts
  packages/mcp/src/utils/oauth/types.ts
Due: @pleaseai/mcp

chore: update IDE configs and gitignore
  .gitignore
  .idea/jsLibraryMappings.xml
  .idea/misc.xml
Due: none

chore: update .gitignore to exclude forwardedPorts.xml
  .idea/.gitignore
Due: none

chore: remove misc.xml and update .gitignore
  .idea/.gitignore
  .idea/misc.xml
Due: none

fix: resolve type errors and update test assertions
  bun.lock
  package.json
  packages/core/src/index/index.ts
  packages/mcp/src/commands/index-cmd.ts
  packages/mcp/src/server.ts
  packages/mcp/src/utils/mcp-client.ts
  packages/mcp/tests/index-cmd.test.ts
Due: @pleaseai/mcp-core, @pleaseai/mcp

docs(readme): update with new MCP server features and OAuth support
  README.md
Due: none

chore: apply AI code review suggestions from gemini-code-assist
  packages/core/src/index/index.ts
  packages/mcp/src/commands/index-cmd.ts
  packages/mcp/src/commands/mcp.ts
  packages/mcp/src/commands/serve.ts
  packages/mcp/src/server.ts
Due: @pleaseai/mcp-core, @pleaseai/mcp

docs: add embedding model comparison documentation (#17)
  README.md
  docs/embedding-models.md
  packages/mcp/src/constants.ts
Due: @pleaseai/mcp

feat(embedding): add dtype option for local embedding providers
  packages/core/src/embedding/index.ts
  packages/core/src/embedding/providers/mdbr-leaf.ts
  packages/core/src/embedding/providers/minilm.ts
  packages/core/src/types/config.ts
  packages/mcp/src/commands/index-cmd.ts
  packages/mcp/src/commands/serve.ts
Due: @pleaseai/mcp-core, @pleaseai/mcp

docs: update embedding model documentation with dtype options
  docs/embedding-models.md
Due: none

feat(embedding): add dtype option for local embedding providers (#18)
  docs/embedding-models.md
  packages/core/src/embedding/index.ts
  packages/core/src/embedding/providers/mdbr-leaf.ts
  packages/core/src/embedding/providers/minilm.ts
  packages/core/src/types/config.ts
  packages/core/tests/embedding-providers.test.ts
  packages/mcp/src/commands/index-cmd.ts
  packages/mcp/src/commands/serve.ts
  packages/mcp/tests/index-cmd.test.ts
Due: @pleaseai/mcp-core, @pleaseai/mcp

feat(mcp): add CLI call command with permission check support
  packages/mcp/src/cli.ts
  packages/mcp/src/commands/call.ts
  packages/mcp/src/server.ts
  packages/mcp/src/services/index.ts
  packages/mcp/src/services/tool-executor.ts
  packages/mcp/src/utils/cli-usage.ts
  packages/mcp/src/utils/output.ts
  packages/mcp/tests/call.test.ts
  packages/mcp/tests/cli-usage.test.ts
Due: @pleaseai/mcp

fix(mcp): improve error handling and type safety
  packages/mcp/src/commands/call.ts
  packages/mcp/src/utils/cli-usage.ts
Due: @pleaseai/mcp

chore: apply AI code review suggestions
  packages/mcp/src/commands/call.ts
  packages/mcp/src/services/tool-executor.ts
  packages/mcp/src/utils/cli-usage.ts
  packages/mcp/src/utils/output.ts
Due: @pleaseai/mcp

refactor: rename mcp-search to mcp-gateway
  .idea/mcp-gateway.iml
  .idea/modules.xml
  .please/memory/plan.md
  .please/memory/session-summary.md
  README.md
  docs/embedding-models.md
  packages/mcp/package.json
  packages/mcp/src/commands/call.ts
  packages/mcp/src/commands/index-cmd.ts
  packages/mcp/src/commands/serve.ts
  packages/mcp/src/services/tool-executor.ts
  packages/mcp/src/utils/cli-usage.ts
  packages/mcp/src/utils/mcp-client.ts
  packages/mcp/src/utils/mcp-config-loader.ts
  packages/mcp/src/utils/oauth/oauth-manager.ts
  packages/mcp/tests/cli-usage.test.ts
Due: @pleaseai/mcp

chore: apply AI code review suggestions
  README.md
  packages/mcp/package.json
Due: none

chore: update lockfile
  bun.lock
Due: none

fix(cli): improve error handling and cleanup call_tool code
  packages/mcp/src/commands/call.ts
  packages/mcp/src/server.ts
  packages/mcp/tests/cli-usage.test.ts
Due: @pleaseai/mcp

fix(release): address code review issues
  .github/workflows/release-please.yml
  install.sh
  scripts/build-release.ts
Due: none

feat(release): add homebrew and binary distribution support (#25)
  .github/workflows/release-please.yml
  README.md
  bun.lock
  install.sh
  package.json
  packages/mcp/src/cli.ts
  scripts/build-release.ts
  scripts/update-formula.ts
Due: @pleaseai/mcp

ci: build workspace packages before release binaries (#26)
  .github/workflows/release-please.yml
Due: none

feat(oauth): add port retry logic for OAuth callback server
  packages/mcp/src/utils/oauth/oauth-manager.ts
  packages/mcp/tests/oauth-port-retry.test.ts
Due: @pleaseai/mcp

chore: apply AI code review suggestions
  packages/mcp/src/utils/oauth/oauth-manager.ts
  packages/mcp/tests/oauth-port-retry.test.ts
Due: @pleaseai/mcp

docs: add search architecture documentation
  README.md
  docs/search-architecture.md
Due: none

fix(core): improve hybrid search error handling and test coverage
  packages/core/src/search/strategies/hybrid.ts
  packages/core/tests/hybrid-search.test.ts
Due: @pleaseai/mcp-core

chore: apply AI code review suggestions
  packages/core/src/search/strategies/hybrid.ts
Due: @pleaseai/mcp-core

chore: add plugin metadata and license
  .claude-plugin/plugin.json
  .idea/mcp-gateway.iml
  .mcp.json
  LICENSE
Due: none

chore(plugin): update description to reflect MCP gateway functionality
  .claude-plugin/plugin.json
Due: none

docs: add Claude Code plugin installation instructions
  .please/memory/session-summary.md
  .please/memory/tasklist.json
  README.md
Due: none

chore(plugin): add MCP server configuration
  .claude-plugin/plugin.json
Due: none

chore: add plugin metadata and license (#32)
  .claude-plugin/plugin.json
  .idea/mcp-gateway.iml
  .mcp.json
  .please/memory/session-summary.md
  .please/memory/tasklist.json
  LICENSE
  README.md
Due: none

fix(mcp): address PR review feedback for index regeneration
  packages/core/src/index/storage.ts
  packages/mcp/src/utils/config-fingerprint.ts
  packages/mcp/src/utils/index-regeneration.ts
Due: @pleaseai/mcp-core, @pleaseai/mcp

chore: apply AI code review suggestions
  packages/mcp/src/commands/index-cmd.ts
  packages/mcp/src/utils/index-regeneration.ts
  packages/mcp/tests/index-regeneration.test.ts
Due: @pleaseai/mcp

refactor(mcp): extract package specifier to constant
  packages/mcp/src/utils/cli-usage.ts
Due: @pleaseai/mcp

fix(mcp): add @beta tag to CLI usage templates (#36)
  packages/mcp/src/utils/cli-usage.ts
  packages/mcp/tests/cli-usage.test.ts
Due: @pleaseai/mcp

feat(mcp): implement scope-based index storage
  .please/memory/plan.md
  packages/core/src/index/storage.ts
  packages/mcp/src/commands/index-cmd.ts
  packages/mcp/src/commands/search.ts
  packages/mcp/src/commands/serve.ts
  packages/mcp/src/constants.ts
  packages/mcp/src/server.ts
  packages/mcp/src/types/index-scope.ts
  packages/mcp/src/utils/config-fingerprint.ts
  packages/mcp/src/utils/index-paths.ts
  packages/mcp/src/utils/index-regeneration.ts
  packages/mcp/src/utils/mcp-config-loader.ts
  packages/mcp/src/utils/tool-deduplication.ts
Due: @pleaseai/mcp-core, @pleaseai/mcp

fix(mcp): implement proper BM25 stats merging for multi-scope search
  packages/mcp/src/commands/search.ts
  packages/mcp/src/server.ts
  packages/mcp/src/utils/tool-deduplication.ts
Due: @pleaseai/mcp

docs(readme): replace call_tool with CLI usage for permission checks
  README.md
Due: none

Path conditions:
  @pleaseai/mcp-core: any of: packages/core/src/**
  @pleaseai/mcp: any of: packages/mcp/src/**
